body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* 曜日によって色変更 */
.fc-col-header-cell-cushion[aria-label="日曜日"] {
    color: red;
}
.fc-col-header-cell-cushion[aria-label="土曜日"] {
    color: blue;
}