/* モーダルウィンドウのスタイル設定 */
.modalStyle {
    background: aqua;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

/* 二択ボタンのスタイル設定 */
.judge {
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
}
.judge button:hover{
    background:blue;
    color:white;
}

/* 日付選択のスタイル設定 */
#date {
    font-size: 15px;
    border-radius: 10px;
}

/* 登録ボタンのスタイル設定 */
.button {
    font-size: 15px;
    border-radius: 10px;
}
.button:hover{
    background:blue;
    color:white;
}
